@media screen and (min-width : 530px) and (max-width: 769px){

    .menu{
        margin-top: 1em;
    }
    
    .heroText{
        font-size: 2em;
    }

    menu img{
        width: 25em;
        aspect-ratio: 1/1;
    }

    h1.heading{
        font-size: 3.6em;
    }


    /* Styling for the features of the website */
    .home_item{
    
        justify-content: space-evenly;
        align-items: center;
        gap: 5em;
        align-items: center;
        justify-content: center;
        width: 50em;
    }

    .home_item:nth-child(odd){
        flex-direction: row;
        flex-basis: 20% 80%;
    }

    .home_item:nth-child(even){
        flex-direction: row-reverse;
        flex-basis: 80% 20%;
    }

     .identifiers{
        min-width: max-content;
    } 
   
}


@media screen and (min-width: 900px) {
     /* Setting the navbar to desktop view */
     .nav label,
     .nav-links hr{
         display: none;
     }
 
     .nav-links{
         position: static;
         display: flex;
         align-items: center;
         justify-content: space-evenly;
         gap: 3em;
         box-shadow: none;
         background-color: none;
         width: auto;
         font-size:auto;
     }
 
}

@media screen and (min-width: 768px) {
    /* General Website Settings */
    h1.heading{
        font-size: 4.8em;
    }

    h1.special-heading{
        font-size: 3.6em;
    }


    /* Styling for the headings of the home headings*/
    .dots{
        font-size: 2.4em;
    }

    menu{
        padding: 5em;
        margin: 2em 5em;
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 5em;    
    }

    .heroText{
        width: 20em;
        font-size: 2.4em;
        line-height: 1.5em;
        color: var(--irish_coffee);
    }


     /* Styling for the features of the website */

     .home_item{
        background-color:  #804820;
        justify-content: space-around;
        padding: 2em;
        gap: 3em;
        align-items: center;
        width: 75em;
    }

    .home_item p{
        width: 30ch;
        font-size: 2em;
    }

    .home_item a{
        font-size: 2em;
    }

    .home_item .bi{
        font-size: 6em;
    }

    .home_item:nth-child(odd){
        flex-direction: row;
        flex-basis: 20% 80%;
    }

    .home_item:nth-child(even){
        flex-direction: row-reverse;
        flex-basis: 80% 20%
    }

     .identifiers{
        min-width: max-content;
    } 
   
    /* Styling for the media query of the translator */
    .Language{
        width: 14em;
        font-size: 2.0em;
        margin-bottom: 1em;
    }

    .translatedWord input[type = "text"]{
        background-color: var(--grey);
        width: 25em;
        height: 21em;
        border: none;
    }

    .translatedWord input[type = "text"]::placeholder{
        font-size: 1.2em;
    }

    .translatedWord input[type = "text"]:focus{
             outline:solid 1px var(--irish_coffee);
    }

    .doubleArrow,
    .bi-search{
        font-size: 3em;
        bottom: 5em;
    }
    
    /* Styling for the media query of the dictionary */
    #dictBox{
        width: 60em;
    }

    .Meanings{
        width: 60em;
        height: 30em;
    }

    /*Styling for the culture tab */
    .Features{
    position: absolute;
}

    .feature_item{
        position: relative; 
    }
    
    /* Position values for the culture tab */
    #Akuko{
        top: 75em;
        left: 25em;
    }

    #Egwuregwu{
        top: 48em;
        right: 25em;
    }

    #Centre{
        top: 53em;
        left: 2.5em;
    }

    #Gboo{
        top: 59em;
        left: 25em;
    }

    #Ugbua{
        top: 32em;
        right: 25em;
    }
}