@media screen and (min-width : 481px) and (max-width: 769px){

    .menu{
        margin-top: 1em;
    }
    
    .heroText{
        font-size: 2em;
    }

    menu img{
        width: 25em;
        aspect-ratio: 1/1;

    }

    h1.heading{
        font-size: 3.6em;
    }


    /* Styling for the features of the website */
    /* #webFeatures{
         display: block; 
        flex-direction: column-reverse;
    } */

    .home_item{
    
        justify-content: space-evenly;
        align-items: center;
        gap: 5em;
    }

    .home_item:nth-child(odd){
        flex-direction: row;
        
    }

    .home_item:nth-child(even){
        flex-direction: row-reverse;
    }

    /* .identifiers{
        flex-direction: row;
        flex-basis: 50% 50%;
    }
   */
}


@media screen and (min-width: 900px) {
     /* Setting the navbar to desktop view */
     .nav label,
     .nav-links hr{
         display: none;
     }
 
     .nav-links{
         position: static;
         display: flex;
         align-items: center;
         justify-content: space-evenly;
         gap: 3em;
         box-shadow: none;
         background-color: none;
         width: auto;
         font-size:auto;
     }
 
}

@media screen and (min-width: 768px) {
    /* General Website Settings */
    h1.heading{
        font-size: 4.8em;
    }

    h1.special-heading{
        font-size: 3.6em;
    }


    /* Styling for the headings of the home headings*/
    .dots{
        font-size: 2.4em;
    }

    menu{
        padding: 5em;
        margin: 2em 5em;
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 5em;    
    }

    .heroText{
        width: 20em;
        font-size: 2.4em;
        line-height: 1.5em;
        color: var(--irish_coffee);
    }


    /* Styling for the media query of the translator */
    .Language{
        width: 14em;
        font-size: 2.0em;
        margin-bottom: 1em;
    }

    .translatedWord input[type = "text"]{
        background-color: var(--grey);
        width: 25em;
        height: 21em;
        border: none;
    }

    .translatedWord input[type = "text"]::placeholder{
        font-size: 1.2em;
    }

    .translatedWord input[type = "text"]:focus{
             outline:solid 1px var(--irish_coffee);
    }

    .doubleArrow,
    .bi-search{
        font-size: 3em;
        bottom: 5em;
    }
    
    /* Styling for the media query of the dictionary */
    #dictBox{
        width: 60em;
    }

    .Meanings{
        width: 60em;
        height: 30em;
    }

    /* Styling for the culture tab */
    /* .feature_item{
        width: 20em;
        height: 20em;
    }

    .feature_item a{
        font-size: 1.4em; 
    }

    .feature_item img{
        height: 15em;
        width: 15em;
    } */

    /* Position values for the culture tab */
    #Akuko{
        top: 60em;
        left: 25em;
    }

    #Egwuregwu{
        top: 40em;
        right: 20em;
    }

    #Centre{
        top: 45em;
        left: 2em;
    }

    #Gboo{
        top: 50em;
        left: 25em;
    }

    #Ugbua{
        top: 30em;
        right: 20em;
    }
}