/* 
--- 01 Typography System


-Font Sizes (px)
10 / 12 / 14 / 16 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

-normal text: 10px and 32px
-long text: 20px or bigger
-headlines: 50px+, bold(600+)
-NO FONT-WEIGHT UNDER 400
-Less than 75 characters per line

-Spacing System (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 80 / 96 / 128

- Font Weights:
Default : 400
Medium: 400
Semi-Bold: 600
Bold: 800

- Line Heights:
Default: 1.15
Small: 1.05
Paragraph Default: 1.5
Paragraph Medium: 1.3


--- 02 COLORS
# Primary:
- Tints:
- Shades: (used only in features - title & subscribee form)
- Accents:

-Greys (used for nav-links and paragraph inside header) 

#Secondary : 



*/

*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
    font-size: 62.5%; /*Turn Irem = 10px*/
    font-family: sans-serif;
}

/* Variable for all the colours */
:root{
    --grey: #b19d9d33;
    --walnut: #714518;
    --gold: #7adab7;
    --bermuda: #7ea08e;
    --cold_gray: #151110;
    --cloud : #cdcbca;
    --tobacco_brown: #6f4e44;
    --leather: #9a745a;
    --irish_coffee : #804820;
    --terracotta: #e27c53;
    --barley_corn: #9f9f5c;
    --mountbatten_pink : #9b8091;
    --white: #ffffff;
    --ox_blood:#691402;
    --coffee_brown: #944200;
    --bronze: #d58936;
    --light_yellow: #f2f3ae;
    --beige:  #f5f5dc;
}

/* Navbar Styling */
.nav{
    width: 100%;
    padding: 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--irish_coffee);
    font-weight: 600;
    font-size: 1.2em;
    color : var(--white);  
}

.nav a{
    color : var(--white);  
}

.nav a:hover{
    text-shadow: 1px 1px 1px var(--cold_gray);
    box-shadow: 2px 2px 1px var(--cold_gray), -2px -2px 1px var(--cold_gray);
}


a.disabled{
    opacity: .85;
    pointer-events: none;
}

.right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
}

.signIn {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: .5px solid var(--white);
    width: 7em;
    height: 2em;
    border-radius: 20px;
}

.nav-links{
    position: absolute;
    top: 5em;
    right: 0.5em ;
    padding: 1em;
    margin: 1.5em 0.5em;
    width: 160px;
    line-height: 20px;
    font-size: inherit;
    background-color: var(--irish_coffee);
    border-radius: 0px 15px;   
    box-shadow: .5em .5em 1em var(--walnut);
    display: none;
    z-index: 1;
}

#hamburger{
    display: none;
}

#hamburger:checked ~ .nav-links{
    display: block;
}



/* Styling for the Menu of the Homepage */
h1.heading{
    min-width: max-content;
    text-align: center;
    margin: 1em 0em;
    font-size: 2.4em;
    font-weight: 900;
    color: var(--coffee_brown);
    text-shadow: 1px 2px 1px var(--cold_gray);
}

.dots{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0em 1em ;
    font-size: 1.5em ;
    font-weight: 600;
    gap: 1em;
}

/* Animations for the Home Page.  */

@keyframes drop{
    0%{
        transform: translateX(0px, 5px);
    }
    50%{
        transform: translateX(5px, 0px) rotate(1turn);
    }

    100%{
        transform: rotate(-1turn);
    }

}

@keyframes drop2{
    0%{
        transform: translateX(0px, 5px);
    }
    50%{
        transform:  rotate(-1turn);
        font-size: 1.5em;
    }

    100%{
        font-size: .5em;
    }

}

.first, 
.third{
    animation: drop 2s ease-in-out .2s;
    color: var(--coffee_brown);
    display: inline-block;
}

.second{
    animation: drop2 3s ease-in-out .4s;
    color: var(--irish_coffee);
    display: inline-block;
}

menu{
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    padding: 2em 2em; 
    margin: 4em 2em 9em;
    gap: 5em;
    background-color: #fdfcf0;

}

menu img{
    width: 20em;
    aspect-ratio: 1/1;
    border-radius: 30%;
}
 


.heroText{
    text-align: center;
    width: 20em;
    font-size: 1.4em;
    line-height: 1.5em;
    color: var(--irish_coffee);
}

.heroText a:link,
.heroText a:visited{
    color: var(--white);
    font-size: .8em;
    background-color: #804820;
    padding: .5em;
    border-radius: 5%;
}

.heroText a:hover{
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

/* Styling for the features of the website */


#webFeatures{
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    gap: 2em;    
    background-color: #804820;
    margin: 2em 1em 2em 1em;
}


h2.heading{
    text-align: center;
    font-size: 2.4em;
    font-weight: 900;
    color:  #ffffff;
    text-shadow:  1px 1px 1px #000000;
    margin: 2em;
}

.icon img{
    width: 7em;
    aspect-ratio: 2/1;    
}

.home_item{
    display: flex;
    flex-direction: column;
    gap: 2em;
    border: 1px solid #ffffff;
    margin: 1em 2em;
    padding: 1em;
    border-radius: 20px;
}

.identifiers{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.info{
    color: #ffeedd;
    border: 2px solid var(--beige);
    border-radius: .7em;
    padding: 1em;
    margin: 1em;
    font-weight: bold;
}

.info:hover{
    transform: translateY(-10px);
    transition: all .8s;
}

.home_item a{
    font-weight: 800;
    font-size: 1.4em;
    color: #f1e9e3;
    text-shadow: 2px 2px 1px #151110;
}

.home_item a:hover{
    font-size: 1.6em;
    box-shadow: 2px 2px 1px #000000;
}

.home_item .bi{
    font-size: 5em;
    color: #ffeedd;
}

.home_item p{
    text-align: justify;
    line-height: 1.5em;
    font-size: 1.4em;
    padding: 0em 1em 1em;
    color: #ffeedd;
    width: 30ch;
    
}

/* Position values of the culture tab feature */
 .feature_item{
    width: 24em;
    height: 24em;
    border-radius: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: var(--walnut);
    padding: 3em;
    margin: 3em;
}

.feature_item a{
    color: var(--white);
    font-weight: 800;
    font-size: 1.4em; 
}


.feature_item a:hover{
    text-shadow: 2px 1px 2px #151110, -2px -1px 2px #151110 ;
    box-shadow: 3px 3px 3px var(--cold_gray);
}

.feature_item img{
    width: 15em;
    height: 15em;
    border-radius: 100%;
}


/* Translator and Dictionary Styling */

/* This is the general styling for all the sections that occur in Ichaka */

.section{
    margin: 1em 1em 2em 2em ;
    padding-bottom: 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* clears the ‘X’ from Internet Explorer */
input[type=search]::-ms-clear { display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal { display: none; width : 0; height: 0; }
/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

/* Making the 3 main components of the page have equal spacing */
#translatorPage{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 2em;
    margin-left: 1em;
}

/*Specific styling for all the componenets of the translator */

.Translator{
display: flex;
align-items: center;
justify-content: center;
gap: 1em;
padding-right: 2em;
}

.box{
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
}

.Language{
    width: 7em;
    height: 2.2em;
    font-size: 1.6em;
    border: 1px solid var(--irish_coffee);
    background-color: var(--irish_coffee);
    color: var(--white);
    border-radius:5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.translatedWord input[type = "text"]{
    padding: 5em;
    text-align: justify;
    background-color: var(--grey);
    width: 10em;
    height: 8em;
    border: none;
}

#inputText{
    opacity: .7;
}

.translatedWord input[type = "text"]::placeholder{
    text-align: center;
    font-weight: bold;
    font-size: 1em;
}


.doubleArrow{
    font-weight: bolder;
    font-size: 2.4em;
    color: var(--cofee_brown);
    position: relative;
    bottom: 2.4em;
}

.triangle{
    font-size: .7em;
}

/*Specific styling for all the components of the dictionary*/
.Dictionary{
    padding-right: 2em;
}

#dictBox{
    width: 30em;
    height: 5em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 3em;
    padding: 1em;
    border: 3px solid var(--irish_coffee);
    border-radius: 5px;
    background-color: var(white);
}

#searchBox{
    width: 15em;
    height: inherit;
    border-radius: 5px;
}

.bi-search{
    font-weight: bold;
    font-size: 2.4em ;
}

#dictBox button,
#dictbox input:focus,
#dictBox input{
    outline: none;
    border: none;
   background-color: inherit;
}

#dictBox button:focus{
   font-size: 1.6em;
   font-weight: bold;
}

.Meanings{
    margin: 2em 0em;
    width: 30em;
    height: 20em;
    background-color: var(--cloud);
    border-radius: 5px;
}


/* Styling for the culture tab */
.special-heading{
    display: flex; 
    justify-content: right;
    font-size: .4em; 
    /* font-style: italic; */
}







